main {
  background-color: #f7f7f7;
}
.datatable {
  background-color: #fff;
}
.datatable caption {
  margin-bottom: 0.4em;
  text-align: left;
  margin-top: 10px;
  caption-side: top;
}
.datatable thead tr:first-child {
  background-color: rgb(93,96,104);
  color: #fff;
}
.datatable td, .datatable th {
  border-right: 1px solid #dee2e6;
}
.datatable td, .datatable th {
border-right: 1px solid #dee2e6;
}
.datatable {
  max-width: 820px;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: rgb(93,96,104);
}

.sidebar p { 
  padding: 0.5rem 1.0rem;
  font-size: 0.875rem;
  color: rgb(93,96,104);
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

/*
 * Tabviz admin
 */

 table caption {
  font-weight: 700;
  margin-bottom: 0.4em;
  text-align: left;
  margin-top: 10px;
  caption-side: top;
  color: #775538;
}
table.admindata th {
  line-height: 1;
  writing-mode: vertical-rl;
  vertical-align: middle;
  transform: scale(-1);
  height: 130px;
}
table.admindata td, table.admindata th {
  font-size: 0.7em;
  padding: 0 !important;
  border-right: 1px solid #ccc;
  line-height: 1.2;
}
.container {
  max-width: unset;
}